footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #EE6D49;
  text-align: center;
  color: White;
  z-index: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #A5300F;
}
.container{
  margin-left: 225px;
  position: relative;
  text-align: center;
}
.cover_text {
  position: absolute;
  bottom: -20%;
  left: 7%;
  color: white;
  text-align: center;
  font-size: 400%;
  font-family: "Biomome Light", "Lucida Console", monospace;
}

#banner_img {
  border-bottom: solid 2px #A5300F;
  position: relative;
  width: 101.5%;
  left: -0.75%;
}

.contactpagina {
  display: flex;
  margin: auto;
}
.contactpagina article {
  display: flex;
  margin-right: 0;
  text-align: center;
  align-items: center;
  border: none;
  background: none;
}

.contactpagina a {
  margin-left: 75px;
  font-size: 150%;
}

header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #EE6D49;
  z-index: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #A5300F;
}

h1.header {
  text-align: center;
  color: White;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
  margin-top: 5.4%;
  overflow-x: hidden;
}

.project {
  position: absolute;
  left: 1000px;
  width: 200px;
}

section {
}

article {
  padding: 5px;
  border-style: solid;
  border-color: #782008;
  border-width: 2px;
  background-color: #E1CBB6;
  border-radius: 20px;
  margin-left: 15%;
  margin-right: 28%;
  margin-top: 2%;
}

article h2 {
  color: #782008;
}

article p {
  color: #782008;
}

.wrapper .nav{
    background: #D55816;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    border-right: solid Black 1px;
    z-index: 2;

}

.wrapper .nav ul li a{
    top: 100px;
    margin-top: 25px;
    display: block;
    padding: 13px 30px;
    color: White;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    list-style: none;
}
.icon i {
  font-size: 38px;
}

.item {
  margin-left: 30px;
}

.wrapper .nav ul li a .icon{
    display: inline-block;
}

.wrapper .nav ul li a:hover,
.wrapper .nav ul li a.active{
    color: #D55816;
    background: white;
}

.wrapper .nav ul li a:hover .icon,
.wrapper .nav ul li a.active .icon{
    color: #D55816;
}

.wrapper .nav ul li a:hover:before,
.wrapper .nav ul li a.active:before{
    display: block;
}
