footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #EE6D49;
  text-align: center;
  color: White;
  z-index: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #A5300F;
}
.container{
  margin-left: 225px;
  position: relative;
  text-align: center;
}
.cover_text {
  position: absolute;
  bottom: -20%;
  left: 7%;
  color: white;
  text-align: center;
  font-size: 400%;
  font-family: "Biomome Light", "Lucida Console", monospace;
}

#banner_img {
  border-bottom: solid 2px #A5300F;
  position: relative;
  width: 101.5%;
  left: -0.75%;
}

header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #EE6D49;
  z-index: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #A5300F;
}

h1.header {
  text-align: center;
  color: White;
}

ul {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  margin-top: 5.4%;
  overflow-x: hidden;
}

section {
}

article {
  padding: 5px;
  border-style: solid;
  border-color: #782008;
  border-width: 2px;
  background-color: #E1CBB6;
  border-radius: 20px;
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 2%;
}

article h2 {
  color: #782008;
}

article p {
  color: #782008;
}

.wrapper .nav{
    background: #D55816;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    border-right-style: solid;
    border-right-color: Black;
    border-right-width: 1px;
    z-index: 2;

}

.wrapper .nav ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: White;
    font-size: 16px;
    position: relative;
    text-decoration: none;
    list-style: none;
}

.wrapper .nav ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .nav ul li a:hover,
.wrapper .nav ul li a.active{
    color: #0c7db1;
    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .nav ul li a:hover .icon,
.wrapper .nav ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .nav ul li a:hover:before,
.wrapper .nav ul li a.active:before{
    display: block;
}

.wrapper section{
    width: calc(100% - 230px);
    margin-left: 230px;
    transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
    background: rgb(7, 105, 185);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

.wrapper .section .top_navbar .hamburger a{
    font-size: 28px;
    color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
    color: #a2ecff;
}


body.active .wrapper .nav{
    left: -230px;
    margin-left: 0;
}

body.active .wrapper .section{
    width: 100%;
    transition: all 0.5s ease;
}

body.active section{
  margin-left: 0%;
  width: 100%;
  transition: all 0.5s ease;
}
