h2 {
  color: purple;
}

#vblack {
  background-color: black;
  height: 500;
  width: 500;
  position: absolute;
  z-index: 1;
}

#vyellow {
  background-color: yellow;
  height: 350;
  width: 350;
  position: absolute;
  z-index: 2;
}

#vred {
  background-color: red;
  height: 300;
  width: 300;
  z-index: 3;
  position: absolute;
}

#vblue {
  background-color: blue;
  height: 300;
  width: 300;
  z-index: 4;
  position: absolute;
  left: 350;
}

#vgreen {
  background-color: green;
  height: 200;
  width: 200;
  position: absolute;
  z-index: 5;
}

.ad {
  position: fixed;
  bottom: 5px;
  right: 5px;
  border: solid 5px;
  background: white;
  font-size: 30;
}

.article_img {
  position: relative;
  left: 1200px;
  bottom: 100px;
}

ul {
  background: #080808;
  padding: 10px;
}

ul li {
  background: #787878;
  padding: 5px;
  border: solid 2px white;
  display: inline-block;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}

section {
  padding: 5px;
  margin: 5px;
  border: double 4px black;
}

section article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: grey url('images/Amsterdam.jfif') ;
}

header {
  background: url('images/ShrekHTML.png');
  width: 835px;
  height: 150px;
}

header h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: right;
  text-shadow: 5px 5px 7px #000000;
}
